
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    VatPhamAccess vp = new VatPhamAccess();
    List<VatPhamAdmin> vpam = vp.DanhSachVP();

}
@using TTN_WebsiteRaoVat.Models;


<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">All Properties</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                @*<div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>*@
                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters
                </button>
            </div>

        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>


                        <th>Mã Vật Phẩm</th>
                        <th>Tên Người Bán</th>
                        <th>Tên Vật Phẩm</th>
                        <th>Mô Tả</th>
                        <th>Tình Trạng</th>
                        <th>Giá Tiền</th>
                        <th>Tên Thể Loại</th>
                        <th>Hình Ảnh</th>
                        <th>Ngày Đăng</th>
                        <th>Hành Động</th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in vpam)
                    {
                        <tr class="tr-shadow">




                            <td>
                                <span class="block-email">@i.MaVP</span>
                            </td>
                            <td class="desc">@i.TenNguoiBan</td>
                            <td>@i.TenVatPham</td>
                            <td>
                                <span class="status--process">@i.Mota</span>
                            </td>
                            <td>@i.TinhTrang</td>
                            <td>@i.GiaTien</td>
                            <td>@i.TenTL</td>
                            <td><img src="~/Content/uploads/@i.LinkHinhAnh" /></td>
                            <td>@i.NgayDang</td>

                            <td>
                                <div class="table-data-feature">

                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Lock">
                                        <i class="fas fa-lock"></i>
                                    </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Detail">
                                        <i class="zmdi zmdi-more"></i>
                                    </button>
                                </div>
                            </td>

                        </tr>
                    }

                    <tr class="spacer"></tr>

                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

