@model TTN_WebsiteRaoVat.Models.VatPham
@using TTN_WebsiteRaoVat.Common;
@using TTN_WebsiteRaoVat.Models;
@{
    ViewBag.Title = "ChiTietVatPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs">
            <a href="/Home"><i class="fa fa-home home_1"></i></a> /
            <a href="/TatCaDanhMuc">Tất cả</a> /
            <a href="cars.html">Thể loại</a> /
            <span>Chi tiết</span>
        </span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- pupup đặt hàng -->
<div class="agileinfo_signin ThongTinMuaHang">
    <h3>Thông tin mua hàng</h3>
    <form action="#" method="post">
        <input type="text" name="Name" placeholder="Tên bạn" required="">
        <input type="email" name="Email" placeholder="Số điện thoại" required="">
        <input type="tel" name="tel" placeholder="Email" required="">
        <input type="password" name="Password" placeholder="Địa chỉ" required="">
        <input type="password" name="Password" placeholder="Ghi chú" required="">
        <input type="submit" value="Đặt mua">
    </form>
</div>

<div class="LamMo"></div>
<!-- //pupup đặt hàng -->
<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <h2>@Model.TenVP</h2>
                <div class="btn-Thich DatMua"><i class="fa fa-money"></i> Đặt mua</div>
                <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">@Model.DiaDiem</a>, <a href="#">@Model.ThanhPho</a> | @Model.NgayDang</p>
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (string link in Model.LinkHinhAnh)
                        {
                            <li data-thumb="/Content/uploads/@link">
                                <img src="/Content/uploads/@link" />
                            </li>
                        }
                    </ul>
                </div>
                <!-- FlexSlider -->
                <script defer src="/Content/js/jquery.flexslider.js"></script>

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- //FlexSlider -->

                <div class="product-details">
                    <div class="btn-Thich BaoXau">Báo xấu <i class="fa fa-flag"></i></div>
                    <div class="DS-BaoXau">
                        <ul class="list-group">
                            <a href="#"><li class="list-group-item"><i class="fa fa-bullhorn "></i>: Báo hết hàng</li></a>
                            <a href="#"><li class="list-group-item"><i class="fa fa-bullhorn "></i>: Báo giá sai</li></a>
                            <a href="#"><li class="list-group-item"><i class="fa fa-bullhorn "></i>: Báo hàng giả, hàng nhái</li></a>
                        </ul>
                    </div>

                    <a href="#" class="btn-Thich ChiaSe">Chia sẻ  <i class="fa fa-facebook-square"></i></a>
                    <a href="/ThichSanPham/@Model.MaVP" class="btn-Thich">Thích  <i class="fa fa-heart"></i></a>
                    <h4><span class="w3layouts-agileinfo">Quan tâm</span>: <strong>150</strong></h4>
                    <h4>
                        <span class="w3layouts-agileinfo">Mô tả:</span><p>
                            @Model.MoTa
                        </p><div class="clearfix"></div>
                    </h4>

                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="product-price">
                        <p class="p-price">Giá bán:</p>
                        <h3 class="rate">@String.Format("{0:0,0 vnđ}", Model.GiaTien)</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="condition">
                        <p class="p-price">Đánh giá:</p>
                        @for (int i = 0; i < Model.ChatLuong; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="condition">
                        <p class="p-price">Tình trạng:</p>
                        <h4>@Model.TinhTrang</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="itemtype">
                        <p class="p-price">Người bán:</p>
                        <a href="">@Model.TenNguoiBan</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center">
                    <h4>Liên hệ qua số điện thoại:</h4>

                    <p><i class="glyphicon glyphicon-earphone"></i>@Model.SDT</p>
                </div>
                <div class="interested text-center">
                    <h4>Liên hệ qua mạng xã hội:</h4>
                    <div class="w3-footer-social-icons">
                        <ul>
                            <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
                            <li><a class="googleplus" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google+</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="interested text-center MeoMuaHang">
                    <h4>Mẹo mua hàng an toàn</h4>
                    <ol>
                        <li><a href="#">Kiểm tra kỹ thông tin sản phẩm.</a></li>
                        <li><a href="#">Tìm hiểu thông tin bán hàng từ người bán.</a></li>
                        <li><a href="#">Chọn phương thức giao dịch an toàn.</a></li>
                        <li><a href="#">Lưu thông tin giao dịch đầy đủ.</a></li>
                    </ol>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//single-page-->
